---
interface Props {
  title: string;
  body: string;
  repo: string;
  repoBackend?: string | null;
  img: string;
  tecnologies: string[];
  Despliegue?: string | null;
  idTitle: string;
}

const { repo, title, body, img, tecnologies, Despliegue ,repoBackend,idTitle} = Astro.props;
---

<div class="card bg-dark text-white">
  <img src={img} class="card-img" alt={title} />
  <div class="card-img-overlay">
    <div
      class="container container-card d-flex align-items-center justify-content-center"
    >
      <h5 class="card-title" id={idTitle}> {title}</h5>
      <p class="card-text" id={`${idTitle}-body`} >{body}</p>
      <div class="tecnologias">
        {
          tecnologies.map((tech, index) => (
            <img
              src={tech}
              class="tecnologias-usadas"
              alt={`Tech ${index + 1}`}
            />
          ))
        }
      </div>
      <div class="container text-center contenedor-botones ">
        <button class="button text-center">
          <a href={repo}>
            <svg
              fill="#ffffff"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              ><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g
                stroke-linejoin="round"
                stroke-linecap="round"
                id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier">
                <title>github</title>
                <rect fill="none" height="24" width="24"></rect>
                <path
                  d="M12,2A10,10,0,0,0,8.84,21.5c.5.08.66-.23.66-.5V19.31C6.73,19.91,6.14,18,6.14,18A2.69,2.69,0,0,0,5,16.5c-.91-.62.07-.6.07-.6a2.1,2.1,0,0,1,1.53,1,2.15,2.15,0,0,0,2.91.83,2.16,2.16,0,0,1,.63-1.34C8,16.17,5.62,15.31,5.62,11.5a3.87,3.87,0,0,1,1-2.71,3.58,3.58,0,0,1,.1-2.64s.84-.27,2.75,1a9.63,9.63,0,0,1,5,0c1.91-1.29,2.75-1,2.75-1a3.58,3.58,0,0,1,.1,2.64,3.87,3.87,0,0,1,1,2.71c0,3.82-2.34,4.66-4.57,4.91a2.39,2.39,0,0,1,.69,1.85V21c0,.27.16.59.67.5A10,10,0,0,0,12,2Z"
                ></path>
              </g></svg
            >
            Repository
          </a>
        </button>
        {repoBackend && (
          <button class="button text-center boton">
            <a href={repoBackend}>
              <svg
              fill="#ffffff"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              ><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g
                stroke-linejoin="round"
                stroke-linecap="round"
                id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier">
                <title>github</title>
                <rect fill="none" height="24" width="24"></rect>
                <path
                  d="M12,2A10,10,0,0,0,8.84,21.5c.5.08.66-.23.66-.5V19.31C6.73,19.91,6.14,18,6.14,18A2.69,2.69,0,0,0,5,16.5c-.91-.62.07-.6.07-.6a2.1,2.1,0,0,1,1.53,1,2.15,2.15,0,0,0,2.91.83,2.16,2.16,0,0,1,.63-1.34C8,16.17,5.62,15.31,5.62,11.5a3.87,3.87,0,0,1,1-2.71,3.58,3.58,0,0,1,.1-2.64s.84-.27,2.75,1a9.63,9.63,0,0,1,5,0c1.91-1.29,2.75-1,2.75-1a3.58,3.58,0,0,1,.1,2.64,3.87,3.87,0,0,1,1,2.71c0,3.82-2.34,4.66-4.57,4.91a2.39,2.39,0,0,1,.69,1.85V21c0,.27.16.59.67.5A10,10,0,0,0,12,2Z"
                ></path>
              </g></svg>
            Repository Backend
            </a>
          </button>
          )}
        {Despliegue && (
			<button class="button text-center boton">
			  <a href={Despliegue}>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
			<path fill="currentColor" fill-rule="evenodd" d="M3.47 6.53a.75.75 0 0 1 1.06 1.061l-.727.727a2.743 2.743 0 0 0 3.879 3.879l.727-.727a.75.75 0 0 1 1.06 1.06l-.726.727a4.243 4.243 0 0 1-6-6zm8 1.879a.75.75 0 0 0 1.06 1.06l.727-.726a4.243 4.243 0 0 0-6-6l-.727.727a.75.75 0 0 0 1.061 1.06l.727-.727a2.743 2.743 0 0 1 3.879 3.879zm-.94-1.879a.75.75 0 1 0-1.06-1.06l-4 4a.75.75 0 1 0 1.06 1.06z" clip-rule="evenodd"/>
		</svg>
				
        Visit
			  </a>
			</button>
		  )}
		  
      </div>
    </div>
  </div>
</div>

<style>

  a {
    text-decoration: none;
    color: white;
  }
  p {
    font-weight: lighter;
  }
  .button {
    margin: 0 auto;
    margin-top: 2px;
    display: flex;
    background-color: rgb(24, 23, 23);
    color: #ffffff;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    border: none;
    cursor: pointer;
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.6s ease;
  }

  .button svg {
    height: 30px;
  }

  .button:hover {
    box-shadow: none;
  }
  p {
    font-weight: bold;

    text-align: center;
    text-wrap: balance;
  }
  .tecnologias-usadas {
    width: 40px;

    height: 40px;
  }
  .tecnologias-usadas:hover {
    transform: translateY(-15px);
    transition: all 0.8s;
  }
  h5 {
    font-size: 1.5rem;
	text-wrap: balance;
	text-align: center;
    font-weight: bolder;
  }
  .card {
    border-radius: 25px;
    margin-top: 20px;
    height: auto;
  }
  img {
    height: 350px;
    border-radius: 25px;
  }
  .container-card {
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .contenedor-botones{
		display: flex;
		align-items: center;
		
		justify-content: center;
	}
	.contenedor-botones button{
		margin-inline: 0px;
	}
	.boton{
    margin-left: 10px !important;
  }

  /* Mantener una altura máxima para las imágenes en móviles */
@media (max-width: 768px) {
  .card-img {
    height: auto; /* Permitir que la imagen se adapte */
    max-height: auto; /* Limitar la altura máxima en móviles */
    object-fit: cover; /* Asegurar que la imagen mantenga el enfoque */
  }

  .card {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* Ajustar padding en la card para pantallas pequeñas */
  .container-card {
    padding: 10px;
    height: auto; /* Ajuste automático de la altura */
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-text {
    font-size: 0.9rem; /* Reducir un poco el tamaño del texto */
    word-wrap: break-word; /* Romper palabras largas */
    overflow-wrap: break-word; /* Ajustar para evitar desbordes */
    max-height: 50px; /* Limitar la altura del contenido */
    overflow-y: auto; /* Añadir scroll en caso de mucho texto */
  }
  h5{
    font-size: 1rem;
  }
  /* Ajustar los botones */
  .button {
    padding: 0.2rem 1rem;
    font-size: 0.50rem;
    line-height: 1rem;
    gap: 0.5rem;
  }

  /* Ajustar tecnologías */
  .tecnologias-usadas {
    width: 30px;
    height: 30px;
  }
}

</style>
