---
import Card from "./Card.astro";

const projects = [
{
  title: "Sistema Administrativo para la gestión de inmobiliaria La Plata",
  body: "Este sistema permite la gestión integral de una inmobiliaria, facilitando el manejo de pagos, deudas, contratos, inquilinos y propiedades. Los administradores pueden registrar y actualizar información de los inmuebles, gestionar contratos de alquiler, llevar un control detallado de los pagos realizados por los inquilinos y de las deudas pendientes. Además, cuenta con reportes automatizados y un módulo para la renovación de contratos.",
  repo: "https://github.com/Reinaldito04/plataSystem",
  img: "54shots_so.png",
  repoBackend :'https://github.com/Reinaldito04/onmiplataBackend',
  tecnologies: ["/svg/electron.svg", "/svg/react.svg", "/svg/python.svg", "/svg/sqlite.svg"]
},
  {
    title: "App de Tareas",
    body: "Una app Movil realizada con Dart/Flutter, conectada con Firebase para acceder con Google y almacenar los datos de sesión, permite añadir sus tareas, modificarlas y compartirlas con demás usuarios mediante su correo electrónico. Además, está conectada a un backend realizado en Python para el manejo de las tareas y diversos datos.",
    repo: "https://github.com/Reinaldito04/Flutter-Todo-App",
    img: "325shots_so.png",
    tecnologies: ["/svg/fastapi.svg", "/svg/flutter.svg", "/svg/dart.svg"]
  },
  {
    title: "Portafolio Web de Ilustrador Digital",
    body: "Una página web con rutas dinámicas, SSR realizada con Next.js / React, con la creación de API para obtener las diversas imágenes de la galería, permitiendo al usuario elegir cuál visualizar gracias a la URL.",
    repo: "https://github.com/Reinaldito04/portfolio-2024/tree/main/portfolioweb",
    img: "259shots_so.png",
    tecnologies: ["/svg/nextjs.svg", "/svg/react.svg", "/svg/nodejs.svg"],
    Despliegue: "https://cesarlista.vercel.app/"
  },
  {
    title: "Correo Temporal",
    body: "Una aplicación de Frontend conectada a una API que proporciona correos temporales, permitiendo recibir correos electrónicos de varias direcciones en tiempo real.",
    repo: "https://github.com/Reinaldito04/mailtempclient",
    img: "815shots_so.png",
    tecnologies: ["/svg/nextjs.svg", "/svg/react.svg"]
  },
  {
    title: "App de Consultas Médicas",
    body: "Una aplicación de escritorio para el control de consultas, historias y placas médicas. Permite al usuario (doctor) tener control de todos sus pacientes registrados, además de su respectiva información.",
    repo: "https://github.com/Reinaldito04/App-Consultas-y-Historias-Medicas",
    img: "753shots_so.png",
    tecnologies: ["/svg/python.svg", "/svg/qt.svg"]
  },
  {
    title: "App para Horarios Escolares",
    body: "Una aplicación de escritorio para el control de horarios escolares del Instituto Universitario de Administración Industrial (IUTA). Permite mantener el control de los profesores, aulas y sesiones de las diversas sedes, entre otras funciones.",
    repo: "https://github.com/Reinaldito04/IUTA----HORARIOS",
    img: "489shots_so.png",
    tecnologies: ["/svg/python.svg", "/svg/qt.svg", "/svg/pdf.svg"]
  },
  {
    title: "API de Divisas",
    body: "Una API realizada para la recolección directa con la web del Banco Central de Venezuela, permitiendo a los usuarios obtener la cotización de diferentes divisas.",
    repo: "https://github.com/Reinaldito04/API-bcv",
    img: "339shots_so.png",
    tecnologies: ["/svg/python.svg", "/svg/fastapi.svg"]
  },
  {
    title: "Periódico Escolar",
    body: "Periódico Escolar con la capacidad de subir noticias, acontecimientos importantes, curiosidades, etc., además cuenta con información referente a la institución.",
    repo: "https://github.com/Reinaldito04/Periodico",
    img: "periodico.png",
    tecnologies: ["/svg/php.svg", "/svg/jquery.svg", "/svg/boostrap.svg"]
  },
  {
    title: "Convertidor de Divisas",
    body: "Esta aplicación te permite convertir diversas monedas, usando los datos actualizados de la API de Divisas.",
    repo: "https://github.com/Reinaldito04/Convertidor",
    img: "204shots_so.png",
    tecnologies: ["/svg/nextjs.svg", "/svg/react.svg"]
  }
];

function generateId(title) {
  return title
    .toLowerCase() // Convertir a minúsculas
    .replace(/[^a-z0-9\s]/g, '') // Eliminar caracteres especiales
    .replace(/\s+/g, '-') // Reemplazar espacios con guiones
    .trim(); // Eliminar espacios al principio y al final
}


---

<section id="project">
  <div class="container">
    <h2 class="text-center">Proyectos</h2>
    <div class="container mt-2">
      <div class="row">
        {projects.map((project) => (
          <div class="col-md-6">
           <Card
              idTitle={generateId(project.title)} 
              title={project.title}
              body={project.body}
              repo={project.repo}
              img={project.img}
              tecnologies={project.tecnologies}
              Despliegue={project.Despliegue}
              repoBackend={project.repoBackend}
            />
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

<style>
  @media (max-width: 440px) {
    section {
      height: auto !important;
      margin-bottom: 20%;
    }
  }
  section {
    border-top: 0.5px solid white;
    text-wrap: balance;
    height: auto;
    padding-bottom: 20px;
  }

  h2 {
    margin-left: 20px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(
      to right,
      rgb(247, 247, 247),
      #665656,
      rgb(51, 46, 46)
    );
    border-image-slice: 1;
    width: 35%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.5rem;
  }
</style>
